@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.288);
    
}

footer{
    color: white;
    text-align: center;
    font-family: italic;

}

div {
   font-size: 1.2em;
   text-align: center;
   margin: 10px;
}

div#msg{
    margin: 10px;
}

div#imagem{
    border-radius: 50px;
}